<footer style="flex-shrink: none" class="py-1 bg-dark text-white" th:fragment="footer">
	<div class="container my-3">
		<h6>Help with development</h6>
		<a href="https://forms.gle/XXAEpwQRjMEATGwW8" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Report a Bug</a>
		<a href="https://www.patreon.com/CelticMajora" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Sponsor Development</a>
		<a href="https://github.com/CelticMajora/pantry-tracker" class="btn btn-primary" target="_blank" rel="noopener noreferrer">View on Github</a>	
	</div>
</footer>