<!DOCTYPE HTML>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- Bootstrap js requirements -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
		<!-- Google Adsense -->
		<script data-ad-client="ca-pub-6301138389813382" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		
		<title>Pantry Tracker</title>
	</head>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148333673-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-148333673-1');
	</script>
	
	<body style="height: 100%" class="d-flex flex-column">
		<div style="flex: 1 0 auto">
			<div class="jumbotron text-center">
				<h1>Welcome to Pantry Tracker</h1>
				<p class="lead">Our vision is to enable individuals to reduce their food waste.</p>
				<p>Log ingredients and foods you have in your pantry and the application will remind you of them 2 days before they expire.</p>
			</div>
			<div class="container">
				<h1>🤔Something went wrong🤔</h1>
				<a href="https://forms.gle/XXAEpwQRjMEATGwW8" class="btn btn-primary" target="_blank">Report the bug</a>
				<a href="https://pantry-tracker-prototype.herokuapp.com/" class="btn btn-primary">Return to the home page</a>
			</div>
		</div>		
		<footer style="flex-shrink: none" class="py-1 bg-dark text-white">
			<div class="container my-3">
				<h6>Help with development</h6>
				<a href="https://forms.gle/XXAEpwQRjMEATGwW8" class="btn btn-primary" target="_blank">Report a bug</a>
				<a href="https://github.com/CelticMajora/pantry-tracker" class="btn btn-primary" target="_blank">View on Github</a>	
			</div>
		</footer>		
	</body>
</html>
