<html>
<head><title>Home Page</title></head>
<body>
<h1>Hello!</h1>
<p>Welcome to <span th:text="${appName}">Our App</span></p>
<form action="#" th:action="@{/userlessingredient}" th:object="${userlessIngredient}" method="post">
    <table border="1">
        <tr>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{ingredientName}" /></td>
        </tr>
        <tr>
            <td><input type="date" th:field="*{expirationDate}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>