<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- Bootstrap js requirements -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
		<title>Pantry Tracker</title>
	</head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148333673-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-148333673-1');
	</script>
	
	<body>
		<div class="jumbotron text-center">
			<h1>Welcome to Pantry Tracker</h1>
			<p>Our vision is to enable individuals to reduce their food waste.</p>
			<p>Log ingredients and foods you have in your pantry and the application will remind you of them 2 days before they expire.</p>
			<br>
			<p>Ratio of ingredients used vs total ingredients deleted: <span th:text="${ratioUsedIngredients}"/></p>
		</div>
		<b>Enter Ingredients</b>
		<form action="#" th:action="@{/userlessingredient}" th:object="${userlessIngredient}" method="post">
		    <table border="1">
		        <tr>
		            <td>Email:<input type="text" th:field="*{email}" /></td>
		        </tr>
		        <tr>
		            <td>Name:<input type="text" th:field="*{name}" /></td>
		        </tr>
		        <tr>
		            <td>Ingredient Name<input type="text" th:field="*{ingredientName}" /></td>
		        </tr>
		        <tr>
		            <td>Expiration Date<input type="date" th:field="*{expirationDate}" /></td>
		        </tr>
		        <tr>
		            <td><input type="submit" value="Submit" /></td>
		        </tr>
		    </table>
		</form>
		<span th:if="${saveSuccessful}">Save Successful</span>
		<br>
		<b>Enter Email to View Current Ingredients</b>
		<form action="#" th:action="@{/userlessingredient}" method="get">
			<table border="1">
				<tr>
					<td>Email:<input type="text" th:value="${userEmail}" name="userEmail"/></td>
					<td><input type="submit"/></td>
				</tr>
			</table>
		</form>
		<table th:if="${ingredientList} != null">
		    <thead>
		        <tr>
		            <th> Name </th>
		            <th> Ingredient Name </th>
		            <th> Email </th>
		            <th> Expiration Date </th>
		            <th> Delete </th>
		        </tr>
		    </thead>
		    <tbody>
		    <tr th:if="${ingredientList?.empty}">
		            <td colspan="2"> No Ingredients Entered </td>
		        </tr>
		        <tr th:each="ingredient : ${ingredientList}">
		            <td><span th:text="${ingredient.name}"> Name </span></td>
		            <td><span th:text="${ingredient.ingredientName}"> Ingredient Name </span></td>
		            <td><span th:text="${ingredient.email}"> Email </span></td>
		            <td><span th:text="${ingredient.expirationDate}"> Expiration Date </span></td>
		            <td>
		            	<form action="#" th:action="@{/userlessingredient/delete?id={id}(id=${ingredient.id})}" th:object="${ingredient}" method="post">
		            		<input type="submit" value="Delete"/>
		            	</form>
		            </td>
		        </tr>
		    </tbody>
		</table>
		<span th:if="${deleteSuccessful}">Delete Successful</span>
		<br>
		<a href="https://forms.gle/XXAEpwQRjMEATGwW8" target="_blank">Report a bug</a>
		<br>
		<a href="https://github.com/CelticMajora/pantry-tracker" target="_blank">View Github</a>	
	</body>
</html>